<h1>External Calendars</h1>

<ul class="no-bullet no-padding">
  <% external_calendars.each do |external_calendar| %>
    <%= render external_calendar %>
  <% end %>
</ul>

<br>

<%= link_to 'New External Calendar', new_admin_external_calendar_path %>
