<h3><%= external_calendar.title %></h3>

<p><strong>Url :</strong><pre><%= external_calendar.url %></pre></p>

<%= link_to 'Edit', edit_admin_external_calendar_path(external_calendar) %> |
<%= link_to 'Back', admin_external_calendars_path %>
