<div class="artist">

  <legend><%= artist.name %></legend>

  <strong>Shows</strong>
  <ul>
    <% artist.events.each do |event| %>
      <li><%= link_to event, event %></li>
    <% end %>
  </ul>

  <br>
  
  <strong>Played at</strong>
  <ul>
    <% artist.venues.each do |venue| %>
      <li><%= link_to venue, venue %></li>
    <% end %>
  </ul>
</div>