<h3>Artists</h3>

<%= link_to 'Add a New Artist', new_artist_path %>

<table class="table table-striped">
  <tr>
    <th class="col-md-7">Name</th>
  </tr>
  
  <% @artists.order('name DESC').each do |artist| %>
    <tr>
      <td><%= link_to artist.name.titleize, edit_artist_path(artist) %></td>    
    </tr>
  <% end %>
</table>