<h1>Sources</h1>

<ul class="no-bullet no-padding">
  <% Source.all.each do |source| %>
  	<li><%= link_to "Edit Source", edit_source_path(source) %>
    <%= render source %></li>
  <% end %>
</ul>

<br>

<%= link_to 'New Source', new_source_path %>