<h3>Venues</h3>

<table class="table table-striped">
  <tr>
    <th class="col-md-5">Title</th>
    <th class="col-md-5">Address</th>
  </tr>
  
  <% @venues.each do |venue| %>
    <tr>
      <td><%= link_to venue.title, edit_venue_path(venue) %></td>
		  <% if venue.street_address? %>
		    <td><%= venue.street_address %></td>
      <% elsif venue.authorized == false %>
        <td>UNAUTHORIZED</td>
		  <% else %>
		  	<td>Unedited</td>
		  <% end %>      
    </tr>
  <% end %>
</table>