<li style="margin-bottom: 6px;">
  <div class="btn-group pull-right">
    <%= link_to 'Edit', edit_source_path(source), class: 'btn btn-warning btn-xs' %>
    <%= link_to 'Remove', admin_source_path(source), method: :delete, class: 'btn btn-danger btn-xs', data: { confirm: 'Are you sure?' } %>
  </div>
  
  <%= link_to source.title, admin_source_path(source) %>
</li>