<section id="banner">
  <% unless Admin::Banner.first.nil? %>
  <% chosenbanner = Admin::Banner.first %>
  <%= link_to image_tag(chosenbanner.image(:medium), size: '468x60', alt: :banner, class: 'banner'), chosenbanner.url %>
  <% end %>
</section>