<section id="banner">
  <% unless Admin::Banner.first.nil? %>
  <%= link_to image_tag(Admin::Banner.first.image(:medium), size: '468x60', alt: :banner, class: 'banner'), Admin::Banner.first.url %>
  <% end %>
</section>